.container{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.card{

    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid var(--active-color);

}

.actions{

    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}

.actions button {

    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--active-color);
    border: 1px solid var(--active-color);
    border-radius: 50%;
    background-color: var(--first-color);
    cursor: pointer;
    transition: 0.3s;

}

.actions button:hover {

    background-color: var(--active-color);
    color: var(--first-color);

}

.title{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

}

.title h3{

    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--first-text-color);

}

.title .date{

    font-size: 14px;
    color: var(--first-text-color);
    opacity: 0.8;

}

.content{

    font-size: 14px;
    font-style: italic;
    line-height: 150%;
    white-space: pre-line;
    color: var(--first-text-color);

}

.content a {

    color: var(--active-color);
    text-decoration: underline;

}