.table_cont {

    width: 100%;
    overflow: auto;

}

.table_cont::-webkit-scrollbar{

    display: none;

}


.table {

    width: 100%;
    overflow: auto;
    border-collapse: collapse;

}

.table th,
.table td {

    padding: 15px 20px;
    text-align: center;
    color: var(--first-text-color);
    white-space: nowrap;

}

.table th {

    background-color: var(--bg-opacity);

}

.table th:nth-child(1) {

    border-top-left-radius: 6px;
    /* border-bottom-left-radius: 6px; */

}

.table th:nth-child(2),
.table th:nth-child(3),
.table th:nth-child(4),
.table th:nth-child(5),
.table td:nth-child(1),
.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4),
.table td:nth-child(5){

    border-left: 1px solid var(--bg-opacity);

}

.table td:last-child {

    border-right: 1px solid var(--bg-opacity);

}

.table th:last-child {

    border-top-right-radius: 6px;

}

.table td {

    padding-block: 10px;

}

.table td {

    border-bottom: 1px solid var(--bg-opacity);

}

.actions {

    margin: 0px 5px;
    padding: 5px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;

}

.delete {

    color: var(--error-color);
    border-color: var(--error-color);

}

.update{

    border-color: var(--active-color);

}

.action_icon {

    color: var(--active-color);

}

.empty_doc {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 80px;
    color: var(--active-color);

}

.empty_doc h3 {

    font-size: 20px;
    color: var(--first-text-color);

}

/* ====== responsive-style ====== */

@media(max-width: 520px) {

    .title_box {

        font-size: 25px;

    }

    .empty_doc {

        gap: 10px;
        font-size: 50px;

    }

    .empty_doc h3 {

        font-size: 16px;

    }

}